.login-form {
    width: 350px;
    margin: 90px auto auto;
    padding: 50px 50px 70px;
    background-color: #67a3f136;
    border-radius: 5px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.9);
}

.login-form-register {
    width: 450px;
    height:540px;
    margin: 10px auto 0;
    padding: 30px 50px 70px;
    background-color: #67a3f136;
    border-radius: 5px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.9);
}

.login-form form,
.login-form-register form{
    border: 3px solid #f1f1f1;
    margin-top: 15px;
}

.login-form-register input[type="name"],
.login-form input[type="email"],
.login-form-register input[type="email"],
.login-form input[type="password"],
.login-form-register input[type="password"],
.login-form input[type="text"],
.login-form-register input[type="text"],
.login-form input[type="tel"],
.login-form-register input[type="tel"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-form button,
.login-form-register button {
    background-color: #0003b1d2;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.login-form button:hover {
    opacity: 0.8;
}

.login-form .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.login-form .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.login-form img.avatar {
    width: 40%;
    border-radius: 50%;
}

.login-form .container {
    padding: 16px;
}

.login-form span.psw {
    float: right;
    padding-top: 16px;
}

.login-form .fa-sharp {
    color: black;
}

/* Additional Styles */
.login-form input[type="checkbox"] {
    margin-right: 8px;
}

.login-form .remember-label,
.login-form-register .remember-label {
    vertical-align: middle;
    font-family: fangsong;
}

.login-label {
    font-family: fangsong;
    font-size: 36px;
}