body {
  font-family: 'Montserrat', sans-serif;
}

.home-container {
  background-image: url('W3eybF.webp');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
  margin-top: -300px;
}

.bycity-heading h2 {
  font-size: 32px;
  text-align: center;
  margin: 60px auto 30px;
  text-decoration: underline;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.third-slider {
  width: 106.5%;
}

.third-slider .slick-list {

  width: calc(100% + -280px);
  margin-left: 100px;
}

.slick-dots li button:before {
  left: -45px !important;
}

.custom-prev-button,
.custom-next-button,
.second-custom-prev,
.second-custom-next,
.third-custom-prev,
.third-custom-next {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e72828ce;
  cursor: pointer;
  z-index: 11111 !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.fa-chevron-right,
.fa-chevron-left {
  color: white;
}

.custom-prev-button {
  left: 0;
}

.custom-next-button {
  right: 6px;
}

.second-custom-next {
  right: 35px;
}

.second-custom-prev {
  left: 0;
}

.third-custom-next {
  right: 202px;
}

.third-custom-prev {
  left: 115px;
}


.hotel-group {
  position: absolute;
}

.slider-container {
  margin: auto 100px !important;
}

.city-name {
  position: absolute;
  background: #fff;
  border-radius: 50px;
  padding: 3px 4px;
  transform: translate(11px, -52px);
  z-index: 1111111111;
}

.city-length {
  position: absolute;
  transform: translate(11px, -25px);
  background: #fff;
  border-radius: 5px;
  padding: 0px 4px;
  font-size: 14px;
  color: #000;
}

.slick-list {
  width: calc(100% + 30px);
  padding: 0 15px;
  margin-left: -15px;
  overflow: hidden;
}


@media screen and (max-width: 1326px) {
  .home-container {
    height: 140vh;
    margin-top: -475px !important;
    display: block;
  }


}

@media screen and (max-width: 960px) {
  .home-container {

    height: 140vh;
    margin-top: -475px !important;
    display: block;
  }

  .search-bar {
    margin-top: 0;
  }

}

@media screen and (max-width: 768px) {
  .footer-columns {
    flex-direction: column;
  }

  .footer-column {
    flex: 1;
    padding: 0;
    margin-bottom: 20px;
  }

  .footer-column:last-child {
    margin-bottom: 0;
  }

  .check-in-label {
    margin: 10px 76px;
}
}

.subscribe-btn {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.subscribe-btn-h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.subscribe-btn-p {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.subscribe-btn button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.subscribe-btn button:disabled {
  background-color: #b0b0b0;
  cursor: not-allowed;
}

.subscribe-btn button:hover {
  background-color: #0056b3;
}

.slider-container-1 {
  width: 100%;
  max-width: 650px;
}

.slider-container-1>div {
  position: relative;
  height: 200px;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 13px #666;

}

.hotelall-image {
  width: 200px;
  height: 200px !important;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.hotelall-name {
  font-size: 24px;
  font-weight: bold;
}

.hotelall-location {
  font-size: 12px;
  margin: 0 -20px 0 0;
}

.hotel-image-container {
  position: relative;
}

.hotel-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  filter: brightness(70%);
  transition: filter 0.3s ease-in-out;
}

.hotel-image:hover {
  filter: brightness(120%);
}

.hotel-details {
  padding: 15px;
}

.hotel-location {
  font-size: 16px;
  color: #555;
  margin-bottom: 12px;
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 8px;
  font-family: 'Arial', sans-serif;
}

.wishlist-icon {
  position: absolute;
  top: 15px;
  left: 160px;
  z-index: 1;
  cursor: pointer;
  font-size: 24px;
}

.wishlist-active {
  color: red;
}

.heartify {
  color: white;
}

.hotelall-price {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
  position: absolute;
  right: 15px;
  bottom: 45px;
  color: green;
}

.hotelall-distance {
  font-size: 14px;
  font-weight: normal;
}

.fa-circle-dot {
  font-size: 12px;
  color: darkorchid;
}

.room-details button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  position: absolute;
  right: 15px;
  bottom: 10px;
}

.room-details button:hover {
  background-color: #0056b3;
}

.room-details-main h2 {
  font-size: 14px;
}

.room-details-1 {
  margin-top: -55px;
  padding: 15px;
}

.room-details-main p {
  font-size: 14px;
}

.room-page {
  padding: 20px;
  font-family: Arial, sans-serif;
  position: static;
  width: 40%;
  right: 0;
}

.hotel-name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.hotel-name-1 {
  font-size: 46px;
  font-weight: bold;
  color: #333;
}

.hotel-description {
  color: #000;
  text-align: justify;
  width: 40.5%;
  margin: 40px 0 40px 100px;
  font-size: 20px;
  font-family: auto;
}

.hotel-address {
  font-style: italic;
}

.hotel-distance {
  font-weight: bold;
  color: #007bff;
}

.hotel-city {
  font-weight: bold;
  color: #007bff;
}

.hotel-country {
  font-weight: bold;
  color: #007bff;
}

.hotel-price {
  font-weight: bold;
  color: #28a745;
}

.rooms-heading {
  font-size: 24px;
  font-weight: bold;
  margin: 40px auto 10px 100px;
  color: #333;
}

.room-item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 90%;
}

.room-title {
  font-weight: bold;
}

.room-description {
  color: #666;
}


.room-details {
  margin-bottom: 10px;
}


.hotel-images {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.small-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.big-image {
  flex: 1;
  overflow: hidden;
  border-radius: 10px;
}


.img-big {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.img-small {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  background-size: cover;
}

.img-small:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* end of hotel room images  */

.reserve-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reserve-button:hover {
  background-color: #0056b3;
}

.reserve-button:focus {
  outline: none;
}

.reserve-button:active {
  transform: scale(0.98);
}

/* hotel images */
.main {
  text-align: center;
  margin-top: 30px;
}

.flex_row {
  justify-content: center;
  display: flex;
  padding-top: 20px;
  margin-top: -25px;
}

.thumbnail {
  padding-left: 20px;
}

.thumbnail img {
  border-radius: 5px;
}

.clicked {
  border: 5px solid black;
}

.btns {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  outline: 1px solid grey;
  transform: translate(40px, -145px);
}

.btns-1 {
  transform: translate(41px, -200px);
}

.btns-2 {
  transform: translate(-41px, -200px);
}

.lefty {
  color: blue;
  font-size: 18px;
}

.righty {
  color: blue;
  font-size: 18px;

}

.selected-amenities {
  font-size: 22px !important;
  color: #e74c3c;
}

/* reserve now and the favourites button*/
/* CardStyles.css */
.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 20px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.card-content {
  padding: 20px;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
}

.reserve-button {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.reserve-button {
  background-color: #1976D2;
  margin-right: 10px;
}


.reserve-button:hover {
  background-color: #2c5c8b;
}

/*Contact Page */

.contact-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.contact-section {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.contact-section h2 {
  text-decoration: underline;
}

.contact-details {
  flex: 1;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form {
  flex: 1;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.faq-section {
  margin-top: 50px;
}

.faq-item {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.faq-item h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.faq-item p {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}

/*end of contact page */


/* start of Password*/

.password-login-form {
  max-width: 400px;
  margin: 60px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.password-label {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.password-form div {
  margin-bottom: 15px;
}

.password-form label {
  font-weight: bold;
}

.password-form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submit-button:hover {
  background-color: #0056b3;
}

/* end of Password*/


/* start of Edit*/
.edit-label {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.edit-login-form {
  max-width: 400px;
  margin: 60px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.edit-form div {
  margin-bottom: 15px;
}

.edit-form label {
  font-weight: bold;
}

.edit-form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-form input[disabled] {
  background-color: #f7f7f7;
  cursor: not-allowed;
}

.edit-form input[disabled]:hover {
  background-color: #f7f7f7;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submit-button:hover {
  background-color: #0056b3;
}

/* end of Edit*/